[user]
  name = add20
  email = "add20g@gmail.com"
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  pager = less -FRSX
[color]
  ui = auto
[commit]
  cleanup = whitespace
[merge]
  ff = false
  log = true
[branch]
  autosetuprebase = always
[push]
 default = simple
[pull]
  rebase = true
[grep]
  lineNumber = true
[help]
 autocorrect = -1
[alias]
  # branch
  b  = branch
  br = branch
  # commit
  ci = commit -v
  # checkout
  co = checkout
  # status
  s  = status
  st = status -sb
  ss = status -sb
  # diff
  d  = diff
  df = diff
  dc = diff --cached
  ds = diff --staged
  dw = diff --no-ext-diff --color-words
  # merge
  mdm = !git co master && git merge @{-1} && git br -d @{-1}
  mdd = !git co develop && git develop @{-1} && git br -d @{-1}
  # rebase
  rbm  = rebase --merge master
  rbd  = rebase --merge develop
  rbi  = rebase -i
  rbi1 = rebase -i HEAD^
  rbi2 = rebase -i HEAD^^
  rbi3 = rebase -i HEAD^^^
  rbi4 = rebase -i HEAD^^^^
  rbi5 = rebase -i HEAD^^^^^
  # remote
  delete-remote-branch = !git branch -a --merged | grep -v master | grep remotes/origin| sed -e 's% *remotes/origin/%%' | xargs -I% git push origin :%
  # log
  last = log -1 -p HEAD
  graph = log --oneline --decorate --graph --all
  # grep
  g = grep --break --heading --line-number
  # reset
  unstage = reset HEAD --
  cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
  # other
  stash-unapply = !git stash show -p | git apply -R
[credential]
  helper = osxkeychain
[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line
