[user]
  name = add20
  email = "add20g@gmail.com"
[alias]
  br = branch
  ci = commit
  co = checkout
  st = status
  df = diff
  dc = diff --cached
  dw = diff --no-ext-diff --color-words
  unstage = reset HEAD --
  last = log -1 -p HEAD
  stash-unapply = !git stash show -p | git apply -R
  g = grep --break --heading --line-number
  graph = log --oneline --decorate --graph --all
[grep]
  lineNumber = true
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line
