.DS_Store
Icon
*~
*.swp
*.swo
*.o
*.db
*.sqlite3
tags
.svn/

.vim/bundle
.vim/.netrwhist
.vim/undo
.vim/cache

# Procfile
.env

# Node.js
node_modules/
npm-debug.log

# Python
*.py[cod]

# Haskell
dist/
*.prof
.hpc/
*.hi
*.tix
hpc_index*.html
*.hs.html

# JVM
*.class

# Gradle
.gradletasknamecache
.gradle
/build

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
