.DS_Store
Icon
*~
*.swp
*.swo
*.o
*.db
*.sqlite3
tags
node_modules/
.svn/

.vim/bundle
.vim/.netrwhist
.vim/undo
.vim/cache

# Procfile
.env

# Python
*.py[cod]

# Haskell
dist/
*.prof

# JVM
*.class

# Gradle
.gradletasknamecache

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
