.DS_Store
Icon
*~
*.swp
*.swo
*.o
*.db
*.sqlite3
tags
.svn/

/.zsh/antigen-hs/

.vim/bundle/
.vim/.netrwhist/
.vim/undo/
.vim/cache/

# Procfile
.env

# Node.js
node_modules/
npm-debug.log

# Ruby
.bundle/
vendor/bundle/

# Rust
*.so
*.rlib
*.dll
*.exe
/target/

# Python
*.py[cod]

# Coq
*.glob
*.vo
*.v.d

# Erlang
*.beam

# PureScript
.psci
.psci_modules/
bower_components/
output/

# Haskell
dist/
*.prof
*.hp
*.ps
*.aux
.hpc/
*.hi
*.tix
hpc_index*.html
*.hs.html
.cabal-sandbox
cabal.sandbox.config
hugsin

# JVM
*.class

# Gradle
.gradletasknamecache
.gradle
/build

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
